
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1491977477839'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1491977477839#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1491977477839') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1491977477839') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1491977477839#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-waimai:before { content: "\e602"; }

.icon-compile:before { content: "\e605"; }

.icon-jia:before { content: "\e61d"; }

.icon-add:before { content: "\e606"; }

.icon-delete:before { content: "\e607"; }

.icon-ordinaryhome:before { content: "\e657"; }

.icon-down:before { content: "\e608"; }

.icon-msnui-cart:before { content: "\e672"; }

.icon-addressVarchar:before { content: "\e609"; }

.icon-jian:before { content: "\e629"; }

.icon-gouwuche:before { content: "\e61e"; }

.icon-add2:before { content: "\e680"; }

.icon-passWord:before { content: "\e60a"; }

.icon-back:before { content: "\e600"; }

.icon-pullDown:before { content: "\e60c"; }

.icon-chioce:before { content: "\e60b"; }

.icon-cshy-orders:before { content: "\e627"; }

.icon-dingdan:before { content: "\e622"; }

.icon-code:before { content: "\e603"; }

.icon-like:before { content: "\e60d"; }

.icon-iconfontqian:before { content: "\e61a"; }

.icon-yijiedan:before { content: "\e653"; }

.icon-remark:before { content: "\e60e"; }

.icon-realName:before { content: "\e60f"; }

.icon-phone:before { content: "\e610"; }

.icon-za:before { content: "\e61b"; }

.icon-account:before { content: "\e618"; }

.icon-certification:before { content: "\e611"; }

.icon-studentNumber:before { content: "\e612"; }

.icon-on-off:before { content: "\e613"; }

.icon-bangzhupeisongfuwu:before { content: "\e64f"; }

.icon-qiangdan:before { content: "\e619"; }

.icon-kuaidi:before { content: "\e61c"; }

.icon-money:before { content: "\e614"; }

.icon-wo:before { content: "\e640"; }

.icon-shouye:before { content: "\e601"; }

.icon-sex:before { content: "\e615"; }

.icon-finishTime:before { content: "\e616"; }

.icon-jibenxinxi:before { content: "\e617"; }

.icon-anonymous-iconfont:before { content: "\e604"; }

.icon-gouwuche1:before { content: "\e61f"; }

